[Unit]
Description=tlswrapper

[Service]
Type=notify
Restart=always
RestartSec=10s
ExecStart=%h/.local/bin/tlswrapper -c config.json
ExecReload=kill -HUP $MAINPID
TimeoutSec=10s
WorkingDirectory=%h/tlswrapper

[Install]
WantedBy=default.target
